ul {
    list-style-type: none;
    display: inline;
}

body {
    /* Background color of the entire page */
    background-color: #F4F9F4;
}

.container{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.link-box {
    text-align: center;
    display: inline-block;
    vertical-align: top;

    width: 15%;

    margin-left: 3%;
    margin-right: 3%;

    /* Background color of the box */
    background-color: #C4E3CB;

    /* Text Color */
    color: #616161;
}

.link-header {
    font-size: 30px;

    /* Header color */
    background-color: #8AAE92;

    /* Bottom border of the header, same color as text */
    border-bottom: 1px solid #616161;

    margin: 0;
    padding: 5px;
}

a, li {
    padding: 5px;

    /* Color of links in the box, same color as text */
    color: #616161;
}

#header {
    text-align: center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;

    /* Header, same color as text */
    color: #616161;

    margin: 5%;
}