/* Colors taken from colorhunt.co */

body {
    /* Background color of the entire page */
    background-color: #FEFAEC;
}

.container {
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    
    /* Text color */
    color: #625772;
}

.links {
    display: inline-block;
    text-align: left;
}

.row {
    margin: 10px;
}

a {
    padding: 5px;
    text-decoration: none;

    /* Color of links, same color as text */
    color: #625772;
}

#line {
    display: inline-block;

    /* Color for the dividing line */
    color: #F38181;
}

#header {
    text-align: center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;

    /* Header, same color as text */
    color: #625772;

    margin: 5%;
}